<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    {{#siteInfo}}
    <title>{{title}}</title>
    <!-- Search Engine -->
    <meta name="description" content="{{description}}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{description}}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="{{twitter_username}}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{title}}">
    <meta name="og:description" content="{{description}}">
    <meta name="og:url" content="{{baseURL}}">
    <meta name="og:site_name" content="{{title}}">
    <meta name="og:type" content="website">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119108098-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119108098-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <h1>{{title}}</h1>
    {{/siteInfo}}
        <p>Hey there, I'm 17 years old high school student in <a href="https://debritto.sch.id">John de Britto College</a>.</p>
        {{#posts}}
            <h3>{{title}}</h3>
            <i>Show recent post from medium</i>
                {{#items}}
                <ul>
                    <li><a href={{link}} target="_blank">{{title}}</a></li>
                </ul>
                {{/items}}
        {{/posts}}
        {{#contact}}
        <h3>Contact me</h3>
        <ul>
            <li><a href="{{item}}">{{link}}</a></li>
        </ul>
        {{/contact}}
    <p>Or simply fill this form below.</p>
    <form name="contact" method="POST" action="thank-you" netlify>
        <p>
            <label>Your Name: <input type="text" name="name"></label>   
        </p>
        <p>
            <label>Your Email: <input type="email" name="email"></label>
        </p>
        <p>
            <label>Message: <textarea name="message"></textarea></label>
        </p>
        <div data-netlify-recaptcha></div>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>
</body>
<footer>
    <i>Still WIP right now :D
        {{#siteInfo}}
        <p>&copy; 2018 {{author}} - <a href="https://github.com/{{github}}">{{github}}</a></p></i>
        {{/siteInfo}}
</footer>
</html>
