<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vriyas Hartama Adesaputra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Vriyas Hartama Adesaputra</h1>
        <p>Hey there, I'm a I'm 17 years old high school student in <a href="https://debritto.sch.id">John de Britto College</a>.</p>

        <h3><a href="https://haruute0.github.io/stories">Checkout my medium post here!</a></h3>
</body>
<footer>
    <i>Still WIP right now :D
        <p>&copy; 2018 Vriyas Hartama Adesaputra</p></i>
</footer>
</html>