<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>Vriyas Hartama Adesaputra</title>
    <!-- Search Engine -->
    <meta name="description" content="Vriyas Hartama's Website">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Vriyas Hartama Adesaputra">
    <meta itemprop="description" content="Vriyas Hartama's Website">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Vriyas Hartama Adesaputra">
    <meta name="twitter:description" content="Vriyas Hartama's Website">
    <meta name="twitter:creator" content="@vriyas29">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Vriyas Hartama Adesaputra">
    <meta name="og:description" content="Vriyas Hartama's Website">
    <meta name="og:url" content="https://haruute0.github.io">
    <meta name="og:site_name" content="Vriyas Hartama Adesaputra">
    <meta name="og:type" content="website">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119108098-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119108098-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <h1>Vriyas Hartama Adesaputra</h1>
        <p>Hey there, I'm 17 years old high school student in <a href="https://debritto.sch.id">John de Britto College</a>.</p>
        {{#posts}}
            <h3>{{title}}</h3>
            <i>Show recent post from medium</i>
                {{#items}}
                <ul>
                    <li><a href={{link}} target="_blank">{{title}}</a></li>
                </ul>
                {{/items}}
        {{/posts}}
</body>
<footer>
    <i>Still WIP right now :D
        <p>&copy; 2018 Vriyas Hartama Adesaputra</p></i>
</footer>
</html>
